/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 16px; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 12px; } }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Bitter', serif;
  margin: 0;
  position: relative; }
  p:after {
    content: "";
    display: block;
    height: 1px;
    width: 5%;
    position: absolute;
    top: -1.875rem;
    background-color: #333F4C; }
  p a {
    font-weight: bold; }
  p small {
    opacity: 0.8;
    font-size: 1.25rem; }
    p small a {
      font-weight: 300; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in; }

.zoom-img, .zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms; }

img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out; }

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  transition: opacity 300ms; }

.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1; }

.zoom-overlay-open, .zoom-overlay-transitioning {
  cursor: default; }

.spinner:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #333F4C;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.vertical-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 2; }
  .vertical-line .vertical-line-element {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    position: absolute;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: #fff;
    opacity: 0.5;
    font-weight: lighter;
    font-size: 13px !important;
    text-transform: uppercase;
    display: block;
    width: 250px;
    bottom: 150px;
    left: -100px; }
    .vertical-line .vertical-line-element a {
      color: #fff;
      text-decoration: none; }
      .vertical-line .vertical-line-element a:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #fff; }
    .vertical-line .vertical-line-element.dark {
      color: #333F4C; }
      .vertical-line .vertical-line-element.dark a {
        color: #333F4C;
        text-decoration: none; }
        .vertical-line .vertical-line-element.dark a:after {
          content: "";
          height: 1px;
          width: 100%;
          background-color: #333F4C; }
  .vertical-line:after {
    content: "";
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 50px;
    top: 0; }

.site {
  height: 100%;
  width: 100%; }

.section-content {
  width: 100%;
  background: #fff;
  padding: 15% 8% 15% 15%; }
  @media screen and (max-width: 600px) {
    .section-content {
      padding-left: 75px; } }
  .section-content p {
    margin-top: 0; }
    .section-content p + p {
      margin-top: 3.75rem; }

.section-content.section-header {
  overflow: hidden;
  background-color: #333F4C;
  background: linear-gradient(180deg, #485563 30%, #333F4C 70%);
  z-index: 1;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  display: table;
  height: 100%;
  position: relative; }
  @media screen and (max-width: 600px) {
    .section-content.section-header {
      height: 100%; } }

.header {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 3.8vw; }
  @media screen and (min-width: 950px) {
    .header {
      font-size: 40px; } }
  .header h1, .header h2 {
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: default;
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    overflow: hidden; }
    .header h1 span, .header h2 span {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff; }
  .header h1 {
    font-size: 2em;
    letter-spacing: -0.125rem; }
  .header h2 {
    font-size: 1.3em;
    font-weight: 300; }

#header-canvas {
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute; }

.section-content.section-info {
  background: #fff;
  position: relative; }
  .section-content.section-info p, .section-content.section-info a {
    color: #333F4C; }
  .section-content.section-info p {
    font-size: 2.5rem; }
    .section-content.section-info p.small {
      font-size: 1.5625rem;
      opacity: 0.8; }
    @media screen and (max-width: 480px) {
      .section-content.section-info p {
        font-size: 1.875rem; } }
    .section-content.section-info p a {
      white-space: nowrap; }
  .section-content.section-info .vertical-line p {
    color: rgba(0, 0, 0, 0.7); }
  .section-content.section-info .vertical-line:after {
    background: rgba(0, 0, 0, 0.1); }
  .section-content.section-info ul {
    margin-top: 1.25rem; }
    .section-content.section-info ul li {
      color: #333F4C;
      opacity: 0.5;
      display: inline-block;
      padding: 2px 10px;
      border: 1px solid #333F4C;
      margin-bottom: 5px;
      margin-right: 3px; }

.section-content.section-works {
  background: #1d1d1d;
  position: relative; }
  .section-content.section-works .content-projects {
    display: table; }
    .section-content.section-works .content-projects img {
      float: left;
      vertical-align: middle;
      width: 50%; }
      .section-content.section-works .content-projects img:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.01);
            -ms-transform: scale(1.01);
                transform: scale(1.01); }
      @media screen and (max-width: 500px) {
        .section-content.section-works .content-projects img {
          width: 100%; } }
  .section-content.section-works p, .section-content.section-works a {
    color: #fff; }
  .section-content.section-works p {
    padding: 0 0.3125rem;
    font-size: 1.875rem; }
  .section-content.section-works .vertical-line p {
    color: #fff; }
  .section-content.section-works .vertical-line:after {
    background: rgba(255, 255, 255, 0.3); }

.section-content.section-end {
  background: #fff;
  position: relative; }
  .section-content.section-end p, .section-content.section-end a {
    color: #333F4C; }
  .section-content.section-end p {
    font-size: 1.875rem; }
  .section-content.section-end .vertical-line p {
    color: rgba(0, 0, 0, 0.7); }
  .section-content.section-end .vertical-line:after {
    background: rgba(0, 0, 0, 0.1); }
