.animation-cover {
    overflow: hidden;
    will-change: transform;
    &__text{
        display: block;
        transform: translateY(150%);
        will-change: transform;
    }
    &__mask {
        transform: translateX(-110%);
        will-change: transform;
    }
}

.animation-fade-y {
    opacity: 0;
    transform: translateY(-200px);
    backface-visibility: hidden;
    will-change: transform, opacity;
}

.animation-y {
    overflow: hidden;
    span {
        display: block;
        opacity: 0;
        transform: translateY(115%);
        will-change: transform, opacity;
        backface-visibility: hidden;
    }
}

@keyframes lineY {
    0% {
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(100%);
    }
}