.animation-cover {
    overflow: hidden;
    will-change: transform;
    &__text{
        display: block;
        transform: translateY(150%);
        will-change: transform;
    }
    &__mask {
        transform: translateX(-110%);
        will-change: transform;
    }
}

.animation-y {
    overflow: hidden;
    span {
        display: block;
        opacity: 0;
        transform: translateY(115%);
        will-change: transform;
        backface-visibility: hidden;
    }
}


@keyframes scale {
    0% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    100% {
        opacity: .6;
        transform: translate(-50%, 0%);
    }
}

@keyframes lineY {
    0% {
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(100%);
    }
}