<section class="section-content section-end">

    <footer class="footer">
        <p>That's all folks!<br>
        <a href="mailto:ruggerinicholas@gmail.com">Send him an email if you want to chat</a>.</p>

        <p>
            <small>
                <a href="mailto:ruggerinicholas@gmail.com" target="_blank">mail</a> - <a href="https://www.facebook.com/nicholasruggeri" target="_blank">facebook</a> - <a href="https://www.linkedin.com/in/imnicks" target="_blank">linkedin</a> - <a href="https://github.com/nicholasruggeri" target="_blank">github</a>
            </small>
        </p>
    </footer>


    <div class="vertical-line">
        <span class="vertical-line-element dark">
            end
        </span>
    </div>
</section>