<section class="section-content section-header">
    <canvas id="header-canvas"></canvas>
    <header class="header">
        <h1 class="title">Nicholas Ruggeri<span></span></h1>
        <h2>Frontend Developer<span></span></h2>
    </header>

    <div class="vertical-line">
        <span class="vertical-line-element">
            <a href="mailto:ruggerinicholas@gmail.com" target="_blank">mail</a> - <a href="https://medium.com/@nicholasruggeri" target="_blank">medium</a> - <a href="https://www.linkedin.com/in/imnicks" target="_blank">linkedin</a> - <a href="https://github.com/nicholasruggeri" target="_blank">github</a>
        </span>
    </div>
</section>