<section class="section-content section-works">

    <div class="content-projects">
        <p class="small">

            {% if include.agency %}
                Agency: <a href="http://www.h-art.com" target="_blank">{{include.agency}}</a><br>
            {% endif %}

            {% if include.client %}
                Client: {{include.client}}<br>
            {% endif %}

            {% if include.project %}
                Project: <a href="{{include.url}}" target="_blank">{{include.project}}</a>
            {% endif %}


        </p>
        <div class="content-image">
            <img src="img/{{include.img}}.jpg" alt="" data-action="zoom">
        </div>
    </div>

    <div class="vertical-line">
        <span class="vertical-line-element">
            works
        </span>
    </div>
</section>