<section class="section-content section-works">

    <div class="content-projects">
        <p class="small">
            Agency: <a href="http://www.h-art.com" target="_blank">H-ART</a><br>
            Client: {{include.client}}<br>
            Project: <a href="{{include.url}}" target="_blank">{{include.project}}</a>
        </p>
        <p class="small"></p>
        <div class="content-image">
            <img src="img/{{include.img}}.jpg" alt="" data-action="zoom">
        </div>
    </div>

    <div class="vertical-line">
        <span class="vertical-line-element">
            works
        </span>
    </div>
</section>