.section-content.section-header{
    overflow: hidden;
    background-color: $primaryColor;
    background: linear-gradient(180deg, #485563 30%, $primaryColor 70%);
    z-index: 1;
    transform: translateX(-100%);
    display: table;
    height: 100%;
    position: relative;
    @media screen and (max-width: 600px) {
        height: 100%;
    }
}


.header{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 3.8vw;
    @media screen and (min-width: 950px) {
        font-size: 40px;
    }
    @media screen and (max-width: 480px) {
        font-size: 5vw;
    }
    h1, h2{
        display: table;
        position: relative;
        margin: 0;
        cursor: default;
        text-decoration: none;
        color: rgba(255,255,255,0);
        overflow: hidden;
        span{
            transform: translateX(-100%);
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $white;
        }
    }
    h1{
        font-size: 2em;
        letter-spacing: rem(-2);
        margin-bottom: rem(10);
    }
    h2{
        font-size: 1.3em;
        font-weight: 300;
    }
}


#header-canvas{
    opacity: .5;
    top: 0;
    left: 0;
    position: absolute;
}