.scroll-to{
    display: block;
    cursor: pointer;
}

.section-header{
    .scroll-to{
        position: absolute;
        z-index: 99999;
        bottom: 5%;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translateX(-50%) scale(0);
        &:focus{
            outline: none;
            .scroll-to-mask{
                &:after{
                    transform: translate(-50%,-50%) scale(1);
                }
            }
        }
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            height: 17px;
            width: 17px;
            transform: translate(-50%,-250%) rotate(-90deg);
            opacity: 0;
            path{
                fill: $black;
            }
        }
    }
    .scroll-to-mask{
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background: #fff;
    }
}

.footer{
    .scroll-to{
        &:focus{
            outline: none;
        }
        svg{
            display: block;
            height: 30px;
            width: 30px;
            transform: rotate(90deg);
            path{
                fill: $white;
            }
        }
    }
}