@import '../_vendor/normalize-scss/normalize';

//
// Vars
//

$primaryColor: #333F4C;
$white: #fff;
$black: #1d1d1d;

$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Bitter', serif;


@import 'mixins/rem';
@import 'base/base';
@import 'modules/zoom';
@import 'modules/spinner';
@import 'modules/vertical-line';
@import 'layout/generic';
@import 'layout/header';
@import 'layout/info';
@import 'layout/works';
@import 'layout/thoughts';
@import 'layout/end';
