.section-content.section-end{
    background: $white;
    position: relative;
    p, a{
        color: $primaryColor;
    }
    p{
        font-size: rem(30);
    }
    .vertical-line{
        p{
            color: rgba(0, 0, 0, 0.7);
        }
        &:after{
            background: rgba(0,0,0,0.1);
        }
    }
}