.site{
    height: 100%;
    width: 100%;
}

.section-content{
    width: 100%;
    background: $white;
    padding: 12% 10% 12% 15%;
    @media screen and (max-width: 600px) {
        padding-left: 75px;
    }
    p{
        margin-top: 0;
        a{
            position: relative;
            text-shadow: 2px 0px #fff, -2px 0px #fff;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
            background-repeat: repeat-x;
            background-size: 2px 3px;
            background-position: 0 88%;
        }
    }
}