.section-content {
    width: 100%;
    background: $white;
    height: 100%;
    min-height: 500px;
    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.section-abstract {
    background: $black;
    padding: 0 10% 10% 10%;
    position: relative;
    overflow: hidden;
    z-index: 9;
    &:before{
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #fff;
        opacity: .1;
    }
    &__icon{
        &-1{
            top: -10%;
            right: -10%;
        }
        &-2{
            bottom: -10%;
            left: -10%;
        }
        position: absolute;
        opacity: .05;
        z-index: 1;
        width: 100px;
        height: 100px;
        @media screen and (min-width: 600px) {
            width: 300px;
            height: 300px;
        }
        svg{
            display: block;
            width: 100%;
            height: 100%;
            path{
                fill: $black;
            }
        }
    }

    &__content{
        background: $white;
        padding: 10%;
        display: flex;
        position: relative;
        box-shadow: 20px 20px 0 rgba(0,0,0,0.4);
        flex-direction: column;
        @media screen and (min-width: 600px) {
            flex-direction: row;
        }
        &:after {
            content: "";
            display: none;
            width: 1px;
            height: 100%;
            background: rgba(0,0,0,0.05);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (min-width: 600px) {
                display: block;
            }
        }
        > div{
            width: 100%;
            @media screen and (min-width: 600px) {
                width: 50%;
                margin: 0;
                &:first-of-type{
                    padding-right: 10%;
                }
                &:last-of-type{
                    padding-left: 10%;
                    > p:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.info-text-box {
    margin-top: 15%;
    &__title {
        font-size: calc(10px + .1vw);
        display: block;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 4%;
        padding-left: 10%;
        position: relative;
        font-weight: 900;
        opacity: .2;
        &:after {
            content:"";
            display: block;
            height: 1px;
            width: 8%;
            background: $black;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__text {
        line-height: 2;
        display: block;
        position: relative;
        z-index: 5;
        font-size: calc(10px + .1vw);
    }
    a{
        white-space: nowrap;
    }
}

.section-case {
    position: relative;
    padding-bottom: 20%;
    @media screen and (min-width: 600px) {
        padding-bottom: 10%;
    }
    img {
        max-width: 100%;
        display: block;
    }
    a {
        display: block;
    }
    &:before {
        content: "";
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        height: 28vw;
    }
    &.is-molteni {
        margin-top: -20%;
        z-index: 99999;
        @media screen and (min-width: 600px) {
            margin-top: -13%;
        }
        // &:before {
        //     background: linear-gradient(0deg, #6d0019 0%, #a90329 100%);
        // }
    }
    &.is-weatherymood {
        margin-top: -20%;
        z-index: 99999;
        @media screen and (min-width: 600px) {
            margin-top: -13%;
        }
        // &:before {
        //     background: linear-gradient(0deg, #132a42 0%, #10503f 100%);
        // }
    }
    &.is-snap {
        margin-top: -20%;
        z-index: 99999;
        @media screen and (min-width: 600px) {
            margin-top: -13%;
        }
        // &:before {
        //     background: linear-gradient(0deg, #2c539e 0%, #3da4db 100%);
        // }
    }
    &.is-ciak {
        margin-top: -20%;
        z-index: 99999;
        @media screen and (min-width: 600px) {
            margin-top: -13%;
        }
        // &:before {
        //     background: linear-gradient(0deg, #5b2130 0%, #3e7d6c 100%)
        // }
    }
    &:after {
        content: "";
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background: rgba(0,0,0,0.1);
        position: absolute;
        z-index: -1;
    }
    &__module {
        margin: 5%;
        margin-top: 0;
        &+.section-case__module {
            margin-bottom: 0;
            margin-top: 20%;
            @media screen and (min-width: 600px) {
                margin-top: 10%;
            }
        }
        &:last-of-type {
            margin-bottom: 0%;
        }
    }
}

.m-small-img {
    width: 100px;
    margin: 0 auto;
    img {
        width: 100%;
        display: block;
    }
}

.m-logo {
    background: linear-gradient(45deg, #FF4E50 0, #FF4E50 21%, #F9D423 100%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        fill: #fff;
        width: 70px;
        height: 70px;
    }
    .path-1, .path-2, .path-3 {
        stroke-dashoffset: 0;
        stroke-dasharray: 12px;
        animation: slide 1.2s ease-in-out infinite;
    }
}

.is-touch {
    .m-full-width--full {
        &:after {
            content:"";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.0001);
        }
    }
}

.m-full-width {
    position: relative;
    overflow: hidden;
    box-shadow: 20px 20px 0px 0px rgba(0,0,0,0.1);
    &--full {
        margin: 0;
        img, iframe {
            display: block;
            border: 0;
            border-top: 1px solid rgba(0,0,0,0.1);
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
    }
    &__img {
        max-width: 100%;
        display: block;
        will-change: transform;
        border: 1px solid rgba(0,0,0,0.1);
    }
    &__cover-l, &__cover-r {
        top: 0;
        position: absolute;
        width: 50%;
        height: 100%;
        background: #f6f7f9;
        will-change: transform;
    }
    &__cover-l {
        top: 0;
        left: 0;
    }
    &__cover-r {
        top: 0;
        right: 0;
    }
}

.m-text {
    text-align: center;
    background: #fff;
    padding: 2.5% 5%;
    @media screen and (min-width: 600px) {
        padding: 2.5% 0;
    }
    .animation-mask {
        display: inline-block;
        @media screen and (min-width: 600px) {
            max-width: 50%;
        }
    }
    &--left{
        text-align: left;
        border: 1px solid rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    p, span {
        display: block;
        margin: 0 auto;
        font-size: calc(12px + 0.1vw);
    }

    &__title {
        font-size: calc(14px + 0.1vw) !important;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 10% !important;
        @media screen and (min-width: 600px) {
            margin-bottom: 2.5% !important;
        }
        letter-spacing: 2px;
        display: inline-block;
        padding-bottom: 2%;
        position: relative;
        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 10%;
            background: rgba(0,0,0,0.2);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -25%;
            @media screen and (min-width: 600px) {
                bottom: 0;
            }
        }
    }
}

.m-iframe {
    display: flex;
    justify-content: center;
}

.m-last-svg {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    // margin-top: 0 !important;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        width: 30px;
        height: 30px;
        path {
            fill: $black;
        }
    }
}

.projects-menu {
    display: none;
    opacity: 0;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lighten(#151515, 1);
    z-index: 9999999;
    align-items: baseline;
    justify-content: center;
    overflow-x: hidden;

    &.is-molteni {
        .projects-menu__title {
            &:not(.is-molteni) {
                color: rgba(0,0,0,0.1);
            }
        }
    }
    &.is-ciak {
        .projects-menu__title {
            &:not(.is-ciak) {
                color: rgba(0,0,0,0.1);
            }
        }
    }
    &.is-weatherymood {
        .projects-menu__title {
            &:not(.is-weatherymood) {
                color: rgba(0,0,0,0.1);
            }
        }
    }
    &.is-snap {
        .projects-menu__title {
            &:not(.is-snap) {
                color: rgba(0,0,0,0.1);
            }
        }
    }
    > div {
        width: 50%;
        min-height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 5vw;
        &+div {
            position: relative;
            &:after {
                content:"";
                display: block;
                width: 1px;
                height: 100%;
                background: rgba(255, 255, 255, 0.2);
                position: absolute;
                top: 0;
                left: 0;
            }
            > div {
                transform: translateX(-55.9%);
                transform: translateX(-50vw);
            }
        }
    }

    &__title {
        display: inline-block;
        font-weight: 900;
        font-size: 13.1vw;
        position: relative;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(-50px);
        transition: color .5s $ease;
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}

.m-two-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
    > div {
        &+div {
            margin-top: 20%;
            @media screen and (min-width: 600px) {
                margin-top: 0;
            }
        }
        @media screen and (min-width: 600px) {
            width: 45%;
        }
    }
}

.cta-button {
    text-transform: uppercase;
    display: inline-block !important;
    padding: 14px 20px;
    font-size: .8em;
    letter-spacing: 2px;
    font-weight: 600;
    position: relative;
    color: #fff;
    background: $black;
    overflow: visible;
    transition: all .5s $ease;
    margin-top: 10%;
    @media screen and (min-width: 600px) {
        margin-top: 5%;
    }
    .no-touch &{
        &:hover {
            background: #fff;
            color: $black;
            transition: all .5s $ease;
            &:after {
                transform: translate(-50%,-50%) scale(1.1, 1.25);
            }
        }
    }
    &:after {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        background: $black;
        transform: translate(-50%,-50%) scale(1);
        transition: transform .5s $ease;
        will-change: transform;
        z-index: -1;
    }
}