.section-content {
    width: 100%;
    background: $white;
    @media screen and (min-width: 600px) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 500px;
    }
}