.block__big-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    > div {
        width: 50%;
        overflow: hidden;
        position: relative;
    }
    .big-text{
        color: rgba(255,255,255,0.1);
        font-size: 50vw;
        font-weight: 900;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        transform: translate(-10%, -50%) rotate(90deg);
        opacity: 0;
        will-change: transform, opacity;
        .is-home &{
            color: #2b2b2b;
            text-shadow: 20px 20px 0 rgba(0,0,0,.2);
        }
        .is-molteni &{
            color: #a80329;
            // color: #e3e3e3;
            color: rgba(0,0,0,0.1)
            // text-shadow: 20px 20px 0 rgba(0,0,0,.2);
        }
        .is-ciak &{
            color: #242426;
            // color: #e3e3e3;
            color: rgba(0,0,0,0.1)
            // text-shadow: 20px 20px 0 rgba(0,0,0,.2);
        }
        .is-weatherymood &{
            color: #114640;
            // color: #e3e3e3;
            color: rgba(0,0,0,0.1)
            // text-shadow: 20px 20px 0 rgba(0,0,0,.2);
        }
        .is-snap &{
            color: #3589bd;
            // color: #e3e3e3;
            color: rgba(0,0,0,0.1)
            // text-shadow: 20px 20px 0 rgba(0,0,0,.2);
        }
        @media screen and (min-width: 769px) {
            transform: translate(-12%, -50%) rotate(0deg);
            font-size: 50vw;
        }
        &--2{
            left: -100%;
        }
    }
}


.section-content.section-header{
    padding: 0;
    position: relative;
    background: $black;
    z-index: 9;
    &.is-molteni {
        background: linear-gradient(180deg, #6d0019 0%, #a90329 100%);
        .big-text {
            font-size: 35.5vw;
        }
        @media screen and (min-width: 769px) {
            .big-text {
                font-size: 33.5vw;
            }
        }
    }
    &.is-weatherymood {
        background: linear-gradient(180deg, #132a42 0%, #10503f 100%);
        .big-text {
            font-size: 28vw;
        }
        @media screen and (min-width: 769px) {
            .big-text {
                font-size: 26.5vw;
            }
        }
    }
    &.is-snap {
        background: linear-gradient(180deg, #2c539e 0%, #3da4db 100%);
        .big-text {
            font-size: 56vw;
        }
        @media screen and (min-width: 769px) {
            .big-text {
                font-size: 51vw;
            }
        }
    }
    &.is-ciak {
        background: linear-gradient(180deg, #5b2130 0%, #3e7d6c 100%);
        .big-text {
            font-size: 59vw;
        }
        @media screen and (min-width: 769px) {
            .big-text {
                font-size: 59vw;
            }
        }
    }
}

.header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999;
    backface-visibility: hidden;
    pointer-events: none;
    &__box{
        pointer-events: visible;
        position: relative;
        z-index: 99999;
        display: inline-flex;
        flex-direction: column;
        &:focus{
            outline: none;
        }
    }
    &__line{
        display: block;
        width: 1px;
        height: 100%;
        background: rgba(255,255,255,0.3);
        position: absolute;
        bottom: 0;
        left: 50%;
        overflow: hidden;
        > div {
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,1);
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            will-change: transform;
        }
    }
    i{
        margin: 0 auto;
        display: inline-block;
        font-style: normal;
        position: relative;
        z-index: 2;
        transform: translateY(150%);
        will-change: transform;
        &.is-small{
            font-size: .5em;
        }
    }
    &__title, &__subtitle{
        text-align: center;
        display: inline-flex;
        position: relative;
        padding: 7px 20px;
        color: $white;
        color: black;
        overflow: hidden;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 100;
        margin: 0;
        will-change: transform;
        font-size: 1.5em;
        span{
            will-change: transform;
            transform: translateX(-101%);
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #DA0D34;
            background: $white;
        }
        ::-moz-selection {
           background-color: $black;
           color: $white;
        }
        ::selection {
           background-color: $black;
           color: $white;
        }
    }
    &__title {
        margin-bottom: 5px;
    }
    &__subtitle {
        font-size: 1.26em;
    }
}