.block__big-text{
    position: absolute;
    background: $black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    > div {
        width: 50%;
        overflow: hidden;
        position: relative;
    }
    .big-text{
        color: #2b2b2b;
        font-size: 50vw;
        font-weight: 900;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        transform: translate(-10%, -50%) rotate(90deg);
        opacity: 0;
        will-change: transform, opacity;
        text-shadow: 20px 20px 0 rgba(0,0,0,0.1);
        @media screen and (min-width: 769px) {
            transform: translate(-10%, -50%) rotate(0deg);
            font-size: 50vw;
        }
        &--2{
            left: -100%;
        }
    }
}


.section-content.section-header{
    padding: 0;
    position: relative;
    backface-visibility: hidden;
    &:before{
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black;
        transform: scale(.95);
        backface-visibility: hidden;
        will-change: transform;
        z-index: 2;
        opacity: 1;
        .is-load &{
            animation: scale 2s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}

.header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999;
    backface-visibility: hidden;
    pointer-events: none;
    &__box{
        pointer-events: visible;
        position: relative;
        z-index: 99999;
        display: inline-flex;
        flex-direction: column;
        will-change: transform;
        &:focus{
            outline: none;
        }
    }
    &__line{
        display: block;
        width: 1px;
        height: 100%;
        background: rgba(255,255,255,0.3);
        position: absolute;
        bottom: 0;
        left: 50%;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, 100%);
        .is-load &{
            animation: appear 1s ease-out;
            animation-fill-mode: forwards;
        }
        > div {
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.7);
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            will-change: transform;
            animation: lineY 2s ease-in-out infinite;
            animation-delay: 3s;
        }
    }
    i{
        margin: 0 auto;
        display: inline-block;
        font-style: normal;
        position: relative;
        z-index: 2;
        transform: translateY(150%);
        will-change: transform;
        &.is-small{
            font-size: .5em;
        }
    }
    &__title, &__subtitle{

        text-align: center;
        display: inline-flex;
        position: relative;
        padding: 7px 20px;
        color: $white;
        overflow: hidden;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 100;
        margin: 0;
        will-change: transform;
        font-size: 1.5em;
        // @media screen and (min-width: 430px) {
        //     &.no-width{
        //         width: auto;
        //     }
        // }
        span{
            will-change: transform;
            transform: translateX(-101%);
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $black;
            background: #c10505;
            background: #DA0D34;
        }
        ::-moz-selection {
           background-color: $black;
           color: $white;
        }
        ::selection {
           background-color: $black;
           color: $white;
        }
    }
    &__title {
        margin-bottom: 5px;
    }
    &__subtitle {
        font-size: 1.26em;
    }
}


.section-about{
    background: $red;
    position: relative;
    padding: 14%;
    &:after{
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        opacity: .1;
    }
    .block__big-text{
        background: transparent;
        opacity: .4;
        transition: opacity 1s $ease;
        &:hover{
            .big-text{
                font-size: 42vw;
                text-shadow: 0 0 0 #000;
            }
        }
    }
    .big-text{
        font-size: 42vw;
        text-shadow: 20px 20px 0 #000;
        transition: text-shadow .5s $ease
    }
    a{
        text-align: center;
        display: block;
        span{
            font-weight: 900;
            color: $white;
        }
    }
}