.section-content.section-header{
    padding: 0;
    position: relative;
    &:after{
        background: url(https://hd.unsplash.com/photo-1472494731104-3ba69e52845b) center center;
        background: url(https://hd.unsplash.com/photo-1443642262833-132dba252dda) center center;
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: scale(.95);
        backface-visibility: hidden;
        will-change: transform;
        opacity: 1;
        z-index: 0;
        .is-load &{
            animation: scale 2s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #101010;
        transform: scale(.95);
        backface-visibility: hidden;
        will-change: transform;
        z-index: 2;
        opacity: .98;
        .is-load &{
            animation: scale 2s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}

.header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    &__line{
        display: block;
        width: 1px;
        height: 10%;
        background: rgba(255,255,255,0.3);
        position: absolute;
        bottom: 0;
        left: 50%;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, 100%);
        .is-load &{
            animation: appear 1s ease-out;
            animation-fill-mode: forwards;
        }
        &:after{
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background: rgba(255,255,255,0.4);
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            animation: lineY 2s ease-in-out infinite;
            animation-delay: 3s;
        }
    }
    i{
        display: inline-block;
        font-style: normal;
        position: relative;
        z-index: 2;
        transform: translateY(100%);
        &.is-small{
            font-size: .5em;
        }
    }
    &__title, &__subtitle{
        width: 365px;
        text-align: center;
        display: inline-flex;
        position: relative;
        padding: 2px 4px 0 6px;
        color: rgba(0,0,0,0);
        letter-spacing: 4px;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 2em;
        margin: 0;
        span{
            transform: translateX(-101%);
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $white;
        }
        ::-moz-selection {
           background-color: #000;
           color: #fff;
        }
        ::selection {
           background-color: #000;
           color: #fff;
        }
    }
    &__title {;
        margin-bottom: 5px;
    }
    &__subtitle {
        font-size: 1.59em;
    }
    &__extra {
        font-family: 'Indie Flower', cursive;
        color: #fff;
        position: absolute;
        bottom: 5%;
        right: 3%;
        font-size: 1em;
        transform: rotate(-10deg) translateX(-10%);
        opacity: 0;
    }

}