.list-projects{
    position: relative;
    z-index: 0;
    // overflow: hidden;
}

.box-countdown {
    display: none !important;
}

.countdown {
    display: inline-block !important;
}

.project{
    background: #f9f9f9;
    position: relative;
    overflow: hidden;

    will-change: transform;
    backface-visibility: hidden;
    transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
    min-height: 60vh;
    z-index: 99;
    @media screen and (min-width: 700px) {
        min-height: 80vh;
    }
    .no-touch &{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    // @media screen and (min-width: 500px) {
    //     min-height: 70vh;
    // }
    // @media screen and (min-width: 800px) {
    //     min-height: 600px;
    //     height: 100vh;
    // }
    &:nth-child(even) {
        .project__content {
            left: 0;
            right: auto;
            align-items: flex-end;
        }
        .project__content-image {
            right: 0;
            left: auto;
        }
    }
    &__content {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: 9;
    }
    &__content-image{
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        img {
            position: absolute;
            width: 40%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(.9);
            transform-origin: center center;
            z-index: 9;
        }
        &-ciak {
            background: #5b2130;
            background: linear-gradient(135deg,  #5b2130 0%,#3e7d6c 100%);
        }
        &-weatherymood {
            background: #2b4a69;
            background: linear-gradient(135deg, #132a42 0%, #10503f 100%);
            img {
                box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
                width: 45%;
            }
        }
        &-snap {
            background: #2c539e;
            background: linear-gradient(135deg,  #2c539e 0%,#3da4db 100%);
            img {
                width: 50%;
            }
        }
        &-molteni {
            background: #a90329;
            background: linear-gradient(135deg, #a90329 0%,#6d0019 100%);
            img {
                width: 80%;
            }
        }
        img{
            display: block;
            max-width: 100%;
        }
    }


    &__number{
        will-change: transform;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-shadow: 20px 20px 0 rgba(0,0,0,0.02);
        color: #ececec;
        font-size: 80vw;
        line-height: 1;
        font-weight: 900;
        display: block;

        .no-touch &{
            transform: translateY(-70%);
        }
    }
    &:before{
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background: rgba(0,0,0,0.05);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__title{
        margin-bottom: 2vw;
        display: inline-block;
        position: relative;
    }
    &__url{
        margin-top: 5px;
        letter-spacing: 1px;
        font-size: calc(10px + 0.1vw);
        display: block;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__name{
        display: inline-block;
        text-transform: uppercase;
        overflow: hidden;
        position: relative;
        @media screen and (min-width: 560px) {
            margin-bottom: 1.2vw;
            padding-bottom: 5px;
            padding-right: 30px;
        }
        &-molteni {
            span{
                &:after {
                    background: #a90329;
                }
            }
        }
        &-ciak {
            span{
                &:after {
                    background: #3e7d6c;
                }
            }
        }
        &-weatherymood {
            span{
                &:after {
                    background: #2b4a69;
                }
            }
        }
        &-snap {
            span{
                &:after {
                    background: #3da4db;
                }
            }
        }
        span{
            display: inline-block;
            font-weight: 600;
            letter-spacing: 3px;
            font-size: calc(14px + 0.1vw);
            position: relative;
            color: $black;
            @media screen and (min-width: 560px) {
                font-size: calc(12px + 0.1vw);
                padding-left: 3px;
                padding-right: 1px;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: 0;
                left: 0px;
                z-index: -1;
                opacity: .3;
                transform: translateX(-105%);
                transition: transform .5s $ease;
                will-change: transform;
            }
        }
        .svg-icon-link {
            transition: all .2s $ease;
            will-change: transform, opacity;
            position: absolute;
            display: block;
            width: 13px;
            top: 0px;
            right: -16px;
            opacity: 0;
            transform: translateX(-100%);
            path {
                fill: $black;
            }
        }
    }
    &__description{
        overflow: hidden;
        display: none;
        margin-bottom: 5%;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media screen and (min-width: 560px) {
            display: table;
            max-width: 300px;
        }
        p{
            font-size: calc(10px + 0.1vw);
        }
        a{
            text-decoration: underline;
        }
    }
    &__content-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 14%;
        transform: translateY(-50%);

        .no-touch &{
            transform: translateY(0);
            &:hover {
                .svg-icon-link {
                    opacity: 1;
                    transform: translateX(0);
                }
                .project__name {
                    span{
                        &:after{
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
        @media screen and (min-width: 560px) {
            .is-touch &{
                .svg-icon-link {
                    opacity: 1;
                    transform: translateX(0);
                }
                .project__name {
                    span{
                        &:after{
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
    &__content-wrapper{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .content-image {
            will-change: transform;
            backface-visibility: hidden;
        }
        &:hover {
            &:after {
                opacity: .2;
            }
        }
        &:after {
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            background: $black;
            transition: opacity .5s $ease;
            will-change: opacity;
            z-index: 8;
        }
    }
}