
.project{
    counter-increment: project;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 10%;
    margin-bottom: -1px;
    .project--content {
        position: relative;
        z-index: 9;
    }
    .project--content-image {
        transform: translateY(10%);
        opacity: 0;
    }
    &:before{
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background: rgba(0,0,0,0.05);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &:after{
        content: counter(project);
        display: block;
        font-size: 100vw;
        top: 50%;
        position: absolute;
        opacity: .05;
        font-weight: 900;
        font-family: 'roboto';
    }
    &:nth-child(odd) {
        flex-direction: row;
        &:after{
            transform: translate(-50%, -50%);
            left: 0;
        }
        .project--content{
            padding-right: 10%;
            text-align: right;
        }
        .project--content-image img{
            float: left;
        }
    }
    &:nth-child(even) {
        flex-direction: row-reverse;
        &:after{
            transform: translate(50%, -50%);
            right: 0;
        }
        .project--content{
            padding-left: 10%;
            text-align: left;
        }
        .project--content-image img{
            float: right;
        }
    }
    &--title{
        margin-bottom: 2vw;
        font-size: 3vw;
        color: #000;
        display: block;
    }
    &--url{
        margin-top: 5px;
        letter-spacing: 1px;
        font-size: calc(10px + 0.1vw);
        display: block;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--description{
        font-size: calc(13px + 0.1vw)
    }
    &--content{
        width: 40%;
    }
    &--content-image{
        width: 60%;
        img{
            display: block;
            box-shadow: 0 0 10000px rgba(0,0,0,0.1);
            min-height: 400px;
            height: 70vh;
        }
    }
}
