.list-projects{
    position: relative;
    z-index: 9;
}

.project{
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 40vh;
    @media screen and (min-width: 450px) {
        padding: 10% 0;
        min-height: 50vh;
    }
    @media screen and (min-width: 800px) {
        min-height: 100vh;
    }
    .project__content {
        position: relative;
        z-index: 9;
        padding: 2% 7% 2% 7%;
    }
    &__number{
        will-change: transform;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-shadow: 20px 20px 0 rgba(0,0,0,0.1);
        color: rgba(#efefef, 1);
        font-size: 110vw;
        line-height: 1;
        font-weight: 900;
        display: block;
    }
    &:before{
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background: rgba(0,0,0,0.05);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &:nth-child(even) {
        .project__number{
            left: -20%;
        }
        .project__content{
            text-align: right;
        }
        .project__content-cover{
            left: 0;
        }
    }
    &:nth-child(odd) {
        flex-direction: row-reverse;
        .project__number{
            right: -20%;
        }
        .project__content{
            text-align: left;
        }
        .project__content-cover{
            right: 0;
        }
        .project__content-image{
            img {
                float: right;
            }
        }
    }
    &__title{
        margin-bottom: 2vw;
        display: inline-block;
        position: relative;
    }
    &__title-letter{
        text-transform: uppercase;
        font-size: calc(40px + 5vw);
        color: #fff;
        position: relative;
        z-index: 2;
        font-weight: 900;
        color: $red;
        line-height: 1;
        padding: 0 10px;
        text-shadow: 5px 5px 0 rgba(0,0,0,0.1);
    }
    &__title-cover{
        position: absolute;
        overflow: hidden;
        background: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-bottom: 2px solid $red;
        &:after{
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            background: $red;
            position: absolute;
            transform: translateX(-110%);
            transition: transform .5s $ease;
        }
    }
    &__url{
        margin-top: 5px;
        letter-spacing: 1px;
        font-size: calc(10px + 0.1vw);
        display: block;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__name{
        display: inline-block;
        text-transform: uppercase;
        overflow: hidden;
        margin-bottom: 1.2vw;
        padding-bottom: 5px;
        position: relative;
        &:hover, &:focus{
            outline: none;
            &:after, &:before{
                transform: translateX(0);
            }
        }
        &:before, &:after{
            content:"";
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-105%);
            transition: transform .5s $ease;
            will-change: transform;
        }
        &:before{
            background: lighten($black, 50);
        }
        &:after{
            background: $black;
            transition-delay: .2s;
        }
        span{
            letter-spacing: 3px;
            display: block;
            font-size: 8px;
            @media screen and (min-width: 560px) {
                font-size: calc(10px + 0.1vw);
            }
        }
    }
    &__description{
        overflow: hidden;
        display: none;
        @media screen and (min-width: 560px) {
            display: inline-block;
            max-width: 300px;
        }
        p{
            font-size: calc(10px + 0.1vw);
            display: block;
            transform: translateY(100%);
            will-change: transform;
            line-height: 1.5;
        }
        a{
            text-decoration: underline;
        }
    }
    &__content{
        width: 50%;
    }
    &__content-image{
        width: 50%;
        height: 0;
        overflow: hidden;
        padding-bottom: 36%;
        position: relative;
        img{
            display: block;
            max-width: 100%;
        }
    }
    &__content-wrapper{
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-top: 1px solid rgba(0,0,0,0.1);
    }
}