<!-- index.html -->

{% extends "layout.html" %}
{% import "_partials/works.html" as work %}

{% block content %}

    {% include "_partials/header.html" %}

    <!-- {% include "_partials/info.html" %} -->


    {{ work.field
        ({
            url: 'www.ciak.space',
            title: 'Hello Ciak',
            description: 'Ciak the lion is a chatbot that find theaters and movies showtimes near you.',
            img: 'hello-ciak'
        })
    }}

    {{ work.field
        ({
            url: 'www.weatherymood.space',
            title: 'Weathery Mood',
            description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
            img: 'weatherymood'
        })
    }}

    {{ work.field
        ({
            agency: 'H-ART',
            url: 'snap.elica.com',
            description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
            title: 'Elica Snap',
            img: 'elica'
        })
    }}

    {{ work.field
        ({
            agency: 'H-ART',
            url: 'companyprofile2015.telecomitalia.com',
            description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
            title: 'Company Profile',
            img: 'company-profile'
        })
    }}

    {{ work.field
        ({
            agency: 'H-ART',
            url: 'rete.telecomitalia.com',
            description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
            title: 'The Network',
            img: 'the-network'
        })
    }}

    {{ work.field
        ({
            agency: 'H-ART',
            url: '946.vespa.com',
            description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
            title: ' Vespa 946 EA',
            img: 'vespa-946-ea'
        })
    }}

    {{ work.field
        ({
            url: 'www.ridillo.it',
            title: 'Ridillo',
            description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
            img: 'ridillo'
        })
    }}


    <!-- {# include "_partials/thoughts.html" #} -->

    <!-- {% include "_partials/end.html" %} -->

{% endblock %}
