<!-- index.html -->

{% extends "layout.html" %}
{% import "_partials/works.html" as work %}

{% block content %}
    <div class="barba-container" data-namespace="homepage">
        {% include "_partials/header.html" %}

        <div class="list-projects">
            {{ work.field
                ({
                    url: 'www.ciak.space',
                    title: 'Hello Ciak',
                    description: 'Ciak the lion is a chatbot that find theaters and movies showtimes near you.',
                    img: 'ciak-large',
                    position: '1'
                })
            }}

            {{ work.field
                ({
                    url: 'www.weatherymood.space',
                    title: 'Weathery Mood',
                    description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
                    img: 'weatherymood',
                    position: '2'
                })
            }}

            {{ work.field
                ({
                    agency: 'H-ART',
                    url: 'snap.elica.com',
                    description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
                    title: 'Elica Snap',
                    img: 'elica-large',
                    position: '3'
                })
            }}

            {{ work.field
                ({
                    agency: 'H-ART',
                    url: 'companyprofile2015.telecomitalia.com',
                    description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
                    title: 'Company Profile',
                    img: 'company-profile',
                    position: '4'
                })
            }}

            {{ work.field
                ({
                    agency: 'H-ART',
                    url: '946.vespa.com',
                    description: 'WeatheryMood is a Chrome extension that lets you discover new playlists based on the current weather in your city.',
                    title: ' Vespa 946 EA',
                    img: 'vespa-946-ea',
                    position: '5'
                })
            }}

        </div>

        {% include "_partials/footer.html" %}
    </div>
{% endblock %}
