---
layout: default
title: Nicholas Ruggeri &bull; Frontend Developer
---

{% include _header.html %}

{% include _info.html %}

{% include _works.html client="Telecom Italia" project="Company Profile" img="company-profile" url="http://companyprofile.telecomitalia.com/en/" %}

{% include _works.html client="Telecom Italia" project="The Network" img="the-network" url="http://rete.telecomitalia.com/en/" %}

{% include _works.html client="Piaggio" project="Vespa 946 EA" img="vespa-946-ea" url="http://946.vespa.com" %}

{% include _works.html client="Ridillo" project="Official Site" img="ridillo" url="http://www.ridillo.it" %}


{% include _end.html %}