@import '../vendor/normalize-scss/normalize.scss';

//
// Vars
//

// $primaryColor: #333F4C;
$primaryColor: #252525;
$white: #fff;
$black: #1d1d1d;
$black2: #252525;

$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Bitter', serif;


@import 'mixins/rem';
@import 'base/base';
@import 'modules/spinner';
@import 'modules/vertical-line';
@import 'layout/generic';
@import 'layout/header';
@import 'layout/info';
@import 'layout/works';
@import 'layout/end';
