@import '../vendor/normalize-scss/normalize.scss';

//
// Vars
//

$primaryColor: #252525;
$secondaryColor: #1d1d1d;
$white: #f9f9f9;
$black: #1a1a1a;
$red: #DA0D34;
$ease: cubic-bezier(0.785, 0.135, 0.150, 0.860);


$bgIsMolteni: linear-gradient(135deg, #a90329 0%,#6d0019 100%);
$bgIsSnap: linear-gradient(135deg,  #2c539e 0%,#3da4db 100%);
$bgIsCiak: linear-gradient(180deg, #5b2130 0%, #3e7d6c 100%);
$bsIsWeatheryMood: linear-gradient(180deg, #132a42 0%, #10503f 100%);

$primaryFont: 'Roboto', sans-serif;


@import 'mixins/rem';
@import 'base/base';
@import 'base/animations';
@import 'modules/opl';
@import 'modules/scroll-to';
@import 'layout/generic';
@import 'layout/header';
@import 'layout/works';
@import 'layout/footer';
@import 'layout/info';