html {
    box-sizing: border-box;
    font-size: 16px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: $primaryFont;
}


p {
    font-family: $secondaryFont;
    margin: 0;
    position: relative;
    &:after{
        content: "";
        display: block;
        height: 1px;
        width: 5%;
        position: absolute;
        top: rem(-30);
        background-color: $primaryColor;
    }
    a{
        font-weight: bold;
    }
    small{
        opacity: .8;
        font-size: rem(20);
        a{
            font-weight: 300;
        }
    }
}

a{
    text-decoration: none;
}

ul, li{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}